<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Share-A-Bytes</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>

<body>
  <div>
    <nav>
      <div class="nav-wrapper #3e2723 brown darken-4">
        <a href="/" class="brand-logo">The Tech Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/"> Home </a></li>
          <li><a href="/dashboard"> Dashboard </a></li>
          <li> {{#if loggedIn}}
            <button id="logout" class="waves-effect #795548 brown btn-large">Logout</button>
            {{else}}
            <a class="waves-effect #795548 brown btn-large" href="/login">Login</a>
            {{/if}}
          </li>
        </ul>
      </div>
    </nav>
    <main>
      {{{body}}}
    </main>
  </div>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>