<div class="blog-card">
    <div class="blog-card-header">
        {{post.postTitle}}
        {{post.user.user_name}}
        {{post.date_created}}
    </div>
    <div class="card-body">
        <p>
            {{post.content}}
        </p>
    </div>
    {{#if post.comments}}
    {{#each post.comments as comment}}
    {{> comment}}
    {{/each}}
    {{/if}}
    <div class="comment-container">
        <form class="new-comment-form">
            <label for="usercomment"></label>
            <input id="usercomment" name="usercomments" placeholder="Add a comment"></input>
            </br>
            <button class="btn waves-effect waves-light" type="submit" name="action">Submit</button>
        </form>
    </div>
</div>

<script src="/js/comment.js"></script>