<div class="row justify-space-between-md">
  <div class="login-card">
    <h2 class="input-field col s6 #eceff1 blue-grey-text text-lighten-5" class="page-title">Login</h2>
    <form class="form login-form">
      <div class="input-field col s8" class="form-group">
        <label for="loginUsername">Enter Username:</label>
        <br />
        <input class="form-input" type="text" id="loginUsername" />
      </div>
      <div class="input-field col s8" class="form-group">
        <label for="pwlogin">Enter Password:</label>
        <br />
        <input class="form-input" type="password" id="pwlogin" />
      </div>
      <div class="input-field col s6" class="form-group">
        <button class="btn btn-primary #795548 brown" type="submit">Login</button>
        </br>
        <a href="/signup">Signup Instead</a>
      </div>
    </form>
  </div>
  <br />

</div>

<script src="/js/login.js"></script>
</script>