<div class="post-container">
    <form class="new-post-form">
        <label for="postTitle">Title: </label>
        <input id="post_title" name="postTitle">{{postTitle}}</input>
        </br>
        <label for="content">Comments: </label>
        <input id="content" name="content">{{content}}</input>
        </br>
        <button class="btn waves-effect #795548 brown" type="submit" name="action">Submit</button>
    </form>

</div>

<script src="/js/post.js"></script>