<div class="row justify-space-between-md">
    <div class="login-card">
        <h2 class="input-field col s8 #eceff1 blue-grey-text text-lighten-5" class="page-title">Sign Up</h2>
        <form class="form signup-form">
            <div class="input-field col s8" class="form-group">
                <label for="signupUsername">Create Username:</label>
                <br />
                <input class="form-input" type="text" id="signupUsername" />
            </div>
            <div class="input-field col s8" class="form-group">
                <label for="pwsignup">Create Password:</label>
                <br />
                <input class="form-input" type="password" id="pwsignup" />
            </div>
            <div class="input-field col s6" class="form-group">
                <button class="btn btn-primary #795548 brown" type="submit">Signup</button>
                </br>
                <a href="/login">Login Instead</a>
            </div>
        </form>
    </div>

</div>

<script src="/js/login.js"></script>
</script>